

.aboutPage {
    .infoAbout {
        width: 100%;
        font-size: 1.5em;
    }

    .logo, .team {
        width: 50%;
        .flexAlignItems(center);
        .flexJustifyItems(center);
    }
    .logo {
        border-right: 1px solid white;
    }
    .team {
        font-size: 0.8em;
    }
}