
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.header {
    .flex;
    .flex-row;
    align-items: center;
    font-size: 2em;

    .logo {
        .flex;
        .flex-column;
    }

    .contacts {
        .flex;
        .flex-column;
        flex: 0 0 auto;
    }
}




.flex {
    display: flex;
    flex: 1 1 auto;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column
}
