@import "./mixins.less";
@import "./startPage.less";
@import "./background.less";

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
}


.mainContainer {
    .flex;
    .flexDirection(column);
    .flexAlignItems(center);
    .flexJustifyItems(center);
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 4rem 2rem;
    z-index: 3;

    &:before {
        content: '';
        display: block;
    }

    .header {
        .startPage;
    }
}

#bg {
    .backgroundClass;
}