

.aboutPage {
    .infoAbout {
        width: 100%;
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.28);
    }
    
    .content {
        border: none !important;
    }

    .logo, .team {
        width: 50%;
        .flexAlignItems(center);
        .flexJustifyItems(center);
    }
    .logo {
        border-right: 1px solid rgba(255,255,255,0.4);
        color: rgba(255, 242, 215, 1);
    }
    .team {
        font-size: 0.8em;
        color: rgba(255, 231, 167, 0.8);
    }
}