.flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
}
.noFlexGrow {
  flex-grow: 0;
}
.flex-row {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.startPage {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 1em;
  height: 400px;
  color: rgba(255, 231, 167, 0.8);
  min-width: 700px;
}
.startPage .logo {
  font-size: 2.1em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 15px;
  width: 50%;
  color: #fff2d7;
}
.startPage .header_container {
  border: solid white;
  border-width: 1px 0;
  flex: 0 1 auto;
  min-height: 200px;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.28);
}
.startPage .contacts {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.1em;
  flex: 0 0 auto;
  padding: 10px;
  border: 1px solid white;
  border-width: 0 0 0 1px;
}
.startPage .contacts .contactElement {
  padding: 10px;
  flex: 0 1 auto;
}
.startPage .navigation {
  flex: 0 1 auto;
  position: relative;
  margin-bottom: calc(4.5rem);
}
.startPage .navigation:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(5.5rem);
  left: calc(50%);
  width: 1px;
  height: calc(4.5rem);
  background: #ffffff;
}
.startPage .navigation .list {
  flex: 0 1 auto;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  border: 1px solid white;
  border-radius: 4px;
  min-height: 40px;
}
.startPage .navigation .list .listItem {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 231, 167, 0.8);
  height: 40px;
  min-height: 40px;
  font-size: 1.1em;
  width: 100%;
  list-style-type: none;
  text-transform: uppercase;
  border-left: 1px solid white;
}
.startPage .navigation .list .listItem:last-of-type .listItem {
  border-left: none;
}
.startPage .navigation .list .listItem:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.startPage .navigation .list .link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  line-height: 1.9em;
}
.startPage .navigation .authNode {
  font-size: 0.8em;
  margin-bottom: 50px;
}
.startPage .navigation .authNode .listItem {
  height: 30px;
}
.startPage .navigation .authNode .link {
  line-height: 2.2em;
}
.headerBar {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex: 0 1 auto;
  font-size: 1em;
  color: white;
}
.headerBar .list {
  flex: 0 1 auto;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  border: 1px solid white;
  border-radius: 4px;
}
.headerBar .list .listItem {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 231, 167, 0.8);
  height: 40px;
  font-size: 1.1em;
  width: 100%;
  padding: 0 10px;
  list-style-type: none;
  text-transform: uppercase;
  border-left: 1px solid white;
}
.headerBar .list .listItem:last-of-type .listItem {
  border-left: none;
}
.headerBar .list .listItem:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.headerBar .list .link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  line-height: 1.9em;
}
.headerBar .authNode {
  position: relative;
  font-size: 0.8em;
  margin-bottom: 50px;
}
.headerBar .authNode .listItem {
  height: 30px;
  min-width: 160px;
}
.headerBar .authNode .link {
  line-height: 1.9em;
}
.headerBar .authNode:after {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: calc(50%);
  width: 1px;
  height: 25px;
  background: #ffffff;
}
.backgroundClass {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.backgroundClass:before,
.backgroundClass:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backgroundClass:before {
  -moz-transition: background-color 2.5s ease-in-out;
  -webkit-transition: background-color 2.5s ease-in-out;
  -ms-transition: background-color 2.5s ease-in-out;
  transition: background-color 2.5s ease-in-out;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.4), rgba(19, 21, 25, 0.8)), url(../img/overlay.png);
  background-size: auto, 256px 256px;
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  z-index: 2;
}
.backgroundClass:after {
  -moz-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.aboutPage .infoAbout {
  width: 100%;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.28);
}
.aboutPage .content {
  border: none !important;
}
.aboutPage .logo,
.aboutPage .team {
  width: 50%;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.aboutPage .logo {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff2d7;
}
.aboutPage .team {
  font-size: 0.8em;
  color: rgba(255, 231, 167, 0.8);
}
.geleryPage .content {
  border: none !important;
}
.geleryPage .gelery {
  padding: 10px;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.geleryPage .itemElement {
  flex-grow: 0;
  position: relative;
  border: 1px solid white;
  border-width: 1px 0;
  padding: 50px 20px;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.28);
}
.geleryPage .itemElement.noPadding {
  padding: 0;
}
.geleryPage .itemElement .photo {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  flex-grow: 0;
  box-shadow: 0 0 2px 2px #a6a6a6;
  font-size: 1.7em;
  text-align: center;
  width: 30%;
  color: #fff2d7;
}
.geleryPage .itemElement .photo .room {
  flex-grow: 0;
  width: 100%;
  height: 100%;
}
.geleryPage .itemElement .comment {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.3em;
  text-align: center;
  color: rgba(255, 231, 167, 0.8);
}
.geleryPage .itemElement .value {
  flex-grow: 0;
}
.geleryPage .itemElement:before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: calc(50%);
  width: 1px;
  height: 100px;
  background: #ffffff;
}
.contactsPage .content {
  border: none !important;
}
.contactsPage .contacts .itemElement {
  position: relative;
  border: 1px solid white;
  border-width: 1px 0;
  padding: 20px;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.28);
}
.contactsPage .contacts .itemElement.noPadding {
  padding: 0;
}
.contactsPage .contacts .itemElement .leftSide,
.contactsPage .contacts .itemElement .rightSide {
  font-size: 1.2em;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 20px 30px;
}
.contactsPage .contacts .itemElement .rightSide {
  color: rgba(255, 231, 167, 0.8);
}
.contactsPage .contacts .itemElement .leftSide {
  color: #fff2d7;
}
.contactsPage .contacts .itemElement .number {
  padding: 10px 0;
}
.contactsPage .contacts .itemElement .map {
  height: 500px;
  width: 100%;
  max-width: 800px;
}
.contactsPage .contacts .itemElement:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  left: calc(50%);
  width: 1px;
  height: 80px;
  background: #ffffff;
}
.servicesPage .content {
  border: none !important;
}
.servicesPage .services .itemElement {
  flex-grow: 0;
  position: relative;
  border: 1px solid white;
  border-width: 1px 0;
  padding: 50px 20px;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.28);
}
.servicesPage .services .itemElement.noPadding {
  padding: 0;
}
.servicesPage .services .itemElement .button {
  font-size: 0.7em;
  margin: 10px 0;
  background: rgba(105, 105, 105, 0.98);
}
.servicesPage .services .itemElement .name {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.7em;
  text-align: center;
  color: #fff2d7;
}
.servicesPage .services .itemElement .comment {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
  color: rgba(255, 231, 167, 0.8);
}
.servicesPage .services .itemElement .value {
  flex-grow: 0;
}
.servicesPage .services .itemElement .icons {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-top: 30px;
}
.servicesPage .services .itemElement .icons .icon {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex-grow: 0;
  height: 50px;
  width: 50px;
  color: white;
  background: white;
  opacity: 0.5;
  margin: 0 10px;
}
.servicesPage .services .itemElement .icons .valueName {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  color: white;
  margin: 0 10px;
}
.servicesPage .services .itemElement:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  left: calc(50%);
  width: 1px;
  height: 80px;
  background: #ffffff;
}
.loginPage .content {
  border: none !important;
}
.loginPage .login {
  position: relative;
  margin-top: 80px;
}
.loginPage .login .form {
  padding: 20px;
  border: 1px solid white;
  border-width: 1px 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}
.loginPage .login .label,
.loginPage .login .input,
.loginPage .login .button {
  margin: 5px 0;
}
.loginPage .login .button {
  margin-top: 20px;
}
.loginPage .login:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  left: calc(50%);
  width: 1px;
  height: 80px;
  background: #ffffff;
}
.registrationPage .content {
  border: none !important;
}
.registrationPage .registration {
  position: relative;
  margin-top: 80px;
}
.registrationPage .registration .form {
  padding: 20px;
  border: 1px solid white;
  border-width: 1px 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}
.registrationPage .registration .label,
.registrationPage .registration .input,
.registrationPage .registration .button {
  margin: 5px 0;
}
.registrationPage .registration .button {
  margin-top: 20px;
}
.registrationPage .registration:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  left: calc(50%);
  width: 1px;
  height: 80px;
  background: #ffffff;
}
body,
html {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
input,
button {
  height: 30px;
  font-size: 1.2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 5px;
  outline: none;
  color: #fff2d7;
  line-height: 1.1em;
}
button {
  background: rgba(0, 0, 0, 0.68);
  border-color: #4a4a4a;
  height: 40px;
  cursor: pointer;
}
label {
  font-size: 1.2em;
  color: rgba(255, 231, 167, 0.8);
}
.mainContainer {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 4rem 2rem;
  z-index: 3;
}
.mainContainer:before {
  content: '';
  display: block;
}
.mainContainer .header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 1em;
  height: 400px;
  color: rgba(255, 231, 167, 0.8);
  min-width: 700px;
}
.mainContainer .header .logo {
  font-size: 2.1em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 15px;
  width: 50%;
  color: #fff2d7;
}
.mainContainer .header .header_container {
  border: solid white;
  border-width: 1px 0;
  flex: 0 1 auto;
  min-height: 200px;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.28);
}
.mainContainer .header .contacts {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.1em;
  flex: 0 0 auto;
  padding: 10px;
  border: 1px solid white;
  border-width: 0 0 0 1px;
}
.mainContainer .header .contacts .contactElement {
  padding: 10px;
  flex: 0 1 auto;
}
.mainContainer .header .navigation {
  flex: 0 1 auto;
  position: relative;
  margin-bottom: calc(4.5rem);
}
.mainContainer .header .navigation:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(5.5rem);
  left: calc(50%);
  width: 1px;
  height: calc(4.5rem);
  background: #ffffff;
}
.mainContainer .header .navigation .list {
  flex: 0 1 auto;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  border: 1px solid white;
  border-radius: 4px;
  min-height: 40px;
}
.mainContainer .header .navigation .list .listItem {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 231, 167, 0.8);
  height: 40px;
  min-height: 40px;
  font-size: 1.1em;
  width: 100%;
  list-style-type: none;
  text-transform: uppercase;
  border-left: 1px solid white;
}
.mainContainer .header .navigation .list .listItem:last-of-type .listItem {
  border-left: none;
}
.mainContainer .header .navigation .list .listItem:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.mainContainer .header .navigation .list .link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  line-height: 1.9em;
}
.mainContainer .header .navigation .authNode {
  font-size: 0.8em;
  margin-bottom: 50px;
}
.mainContainer .header .navigation .authNode .listItem {
  height: 30px;
}
.mainContainer .header .navigation .authNode .link {
  line-height: 2.2em;
}
.mainContainer.typicalPage {
  -moz-justify-content: start;
  -webkit-justify-content: start;
  -ms-justify-content: start;
  justify-content: start;
}
.mainContainer.typicalPage .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  color: white;
  width: 100%;
  margin: 1rem;
  border: 1px solid white;
  border-radius: 10px;
}
#bg {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
#bg:before,
#bg:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#bg:before {
  -moz-transition: background-color 2.5s ease-in-out;
  -webkit-transition: background-color 2.5s ease-in-out;
  -ms-transition: background-color 2.5s ease-in-out;
  transition: background-color 2.5s ease-in-out;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.4), rgba(19, 21, 25, 0.8)), url(../img/overlay.png);
  background-size: auto, 256px 256px;
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  z-index: 2;
}
#bg:after {
  -moz-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
