
.headerBar {
    .flex;
    .flex-column;
    .flexAlignItems(center);
    .flexJustifyItems(center);
    flex: 0 1 auto;
    font-size: 1em;
    color: white;


    .list {
        flex: 0 1 auto;
        .flexJustifyItems(space-between);
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style: none;
        border: 1px solid white;
        border-radius: 4px;

        .listItem {
            .flex;
            .flex-column;
            .flexAlignItems(center);
            .flexJustifyItems(center);
            text-align: center;
            color: rgba(255, 231, 167, 0.8);
            height: 40px;
            font-size: 1.1em;
            width: 100%;
            padding: 0 10px;
            list-style-type: none;
            text-transform: uppercase;
            border-left: 1px solid white;

            &:last-of-type .listItem {
                border-left: none;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.075);
            }
        }
        .link {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit;
            line-height: 1.9em;
        }
    }

    .authNode {
        @margin: 50px;
        @height: 30px;
        @lineHeight: 25px;
        position: relative;
        font-size: 0.8em;
        margin-bottom: @margin;
        .listItem {
            height: @height;
            min-width: 160px;
        }
        .link {
            line-height: 1.9em;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: @height;
            left: calc(50%);
            width: 1px;
            height: @lineHeight;
            background: #ffffff;
        }
    }
}